

.text-box{
  display: flex;
  margin: auto;
  width: 400px;
  height: 30px;
  margin-top: px;
  
  }
  
  .btn{
      margin-top: 600px;
      display: flex;
  margin: auto;
  }
  .Head{
  margin-left: 500px;
  
  }